.idea/
controller/controller.iml
controller/target/generated-sources/
domain/domain.iml
domain/target/generated-sources/
domain/target/generated-test-sources/
fluxdemo.iml
service/service.iml
service/target/generated-sources/
service/target/generated-test-sources/
controller/target/classes/
domain/target/classes/
domain/target/test-classes/
service/target/classes/
service/target/test-classes/
target/
